.actionview { 
	border-left: 0; 
	border-top: 0;
	padding: 0; 
	color: $base_color; 
	background-color: darken($base_color,25%) ;
}

@include button-ui(
  $ui: 'actionbutton',
	$background-color: transparent,
	$color: white,
  $border-color: transparent
  // $inner-border-color-focus: transparent,
  // $inner-border-color-focus-over: transparent,
  // $inner-border-color-focus-pressed: transparent,
  // $background-color-over: $nav-base-color
);